.container {
  display: flex;
  height: 90vh;
}

.leftside {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.rightside {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
